@model IEnumerable<Person>

@{
	ViewData["Title"] = "Lista";
}

<p>
	@Html.ActionLink("New", "Create")
</p>
<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.PersonName)</th>
		<th>@Html.DisplayNameFor(model => model.PersonAge)</th>
	</tr>
	<tr></tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.PersonName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PersonAge)
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id=item.PersonId}, new {@class="btn btn-success"}) |
				@Html.ActionLink("Edit", "Edit", new { id=item.PersonId}) |
				@Html.ActionLink("Delete", "Delete", new { id=item.PersonId}, new {@class ="text-danger"})				
			</td>
		</tr>
	}

</table>